*{
    margin:0;
    font-family: Arial;
    border: border-box; /* border size gets count in it's height and width */
}

.navbar{
    height: 70px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

.nav-logo{
    height:50px;
    width:100px;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width:100px;
    height:50px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white ;
}

/* For second box */
.deliver{
    color:#CCCCCC;
    font-size:0.80rem;
    margin-left: 15px;
}

.location{
    color: #FFFFFF;
    font-size: 1rem;
    margin-left: 4px;
}

.add-icon{
    display:flex;
    align-items: center;
}

/* For third button */

.nav-search{
    display:flex;
    justify-content: space-evenly;
    margin-left:10px;
    background-color: violet;
    width:600px;
    height:30px;
    border-radius: 5px;
}

.search-select{
    background-color: #E6E6E6;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input{
    width:100%;
    font-size:1rem;
    /* padding: 7px 10px 10px 0px; */
    padding-left:10px;
    border:none;
}

.search-icon{
    width:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background-color: rgba(255, 221, 0, 0.888);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:black;
}

.nav-search:hover{
    border:2px solid orange;
}

/* For box 4 */
span{
    font-size:0.85rem;
}

.nav-sign{
    font-size:0.9rem;
    font-weight: 730;
}

/* For box 5 */
.nav-cart i{
    font-size:28px;
}

.nav-cart{
    font-size:0.9rem;
    font-weight:700;
}

/* Panel styling */
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p{
    display: inline;
    margin-left:15px;
}

.panel-opt{
    width:75%;
    font-size:0.88rem;
}

.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}

/* For hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:380px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
}

.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:80%;
    margin-bottom: 30px;
}

.hero-msg a{
    color: #007185;
}