*{
    margin:0;
    font-family: Arial;
    border: border-box; /* border size gets count in it's height and width */
}

.navbar{
    height: 70px;
    background-color: #0f1111;
    color:white;
    display:flex;
}

.nav-logo{
    height:50px;
    width:100px;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width:100px;
    height:50px;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white ;
}

/* For second box */
.deliver{
    color:#CCCCCC;
    font-size:0.80rem;
}

.location{
    color: #FFFFFF;
    font-size: 1rem;
}